<app-header-nav></app-header-nav>

<div class="container-fluid">
    <div class="parallax-main-one"></div>
    <div class="parallax-splitter-dark">
        <div id="menu-block" *ngIf="stage==0">
            <div class="container">
                <div class="row">
                    <app-main-intro></app-main-intro>
                </div>
                    <div class="d-grid gap-2 col-10 mx-auto">
                        <button class="btn btn-primary" (click)="stageChange()">Begin</button>
                    </div>
            </div>
        </div>

        <div id="menu-block" *ngIf="stage==1">
            <div class="container">
                <div class="row">
                <app-pdp-generator-container></app-pdp-generator-container>
            </div>
            </div>
        </div>

    </div>

    <div class="parallax-main-two"></div>

</div>