<div class="container">

    <h2>Personal Development Plan : {{PDPJson.roleTitle}}</h2>
    <hr>
    <button class="btn btn-success col-12" disabled>Core Skills</button>
    <br>
    <div *ngFor="let group of PDPJson.coreSkills">

        <h4 *ngIf="group.title">{{group.title}}</h4>
        <div *ngFor="let skill of group.skillsGroup">
            <ng-icon name="bootstrapDashSquare"></ng-icon> {{skill.description}}
        </div>
        <br>
    </div>
    <hr>

    <button class="btn btn-success col-12" disabled>Specialism Skills:</button>
    <div *ngFor="let group of PDPJson.specialismSkills">

        <h4 *ngIf="group.title">{{group.title}}</h4>
        <div *ngFor="let skill of group.skillsGroup">
            <ng-icon name="bootstrapDashSquare"></ng-icon> {{skill.description}}
        </div>
        <br>
    </div>
</div>